

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/creative.css">
<link href="/css/creative.min.css" rel="stylesheet">

<!-- <div class="backdrop"></div> -->
 <header class="main-header .font-weight-lighter" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;font-weight: lighter">

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"  id="mainNav" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif; font-weight: lighter">
    <div class="container" style="font-weight: lighter" >
        <a class="navbar-brand" style="font-weight: light;" href="/">M.J</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link js-scroll-trigger" href="#home">Home
                        <span class="sr-only">(current)</span>
                      </a>
                </li>
            <li class="nav-item" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif;">
                <a class="nav-link js-scroll-trigger <%= path === '/shop' ? 'active' : '' %>" style="color:white" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <%= path === '/shop/products' ? 'active' : '' %>" href="/shop/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <%= path === '/shop/cart' ? 'active' : '' %>" href="/shop/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <%= path === '/shop/orders' ? 'active' : '' %>" href="/shop/orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <% } %>
        </ul>
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <% if (!isAuthenticated) { %>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger <%= path === '/auth/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link js-scroll-trigger <%= path === '/auth/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
                </li>
                <% } else { %>
                    <li class="nav-item">
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class= "btn" type="submit" style="font-family: 'Montserrat', 'Open Sans', Helvetica, Arial, sans-serif; background-color: #606197; color:white;" >Logout</button>
                        </form>
                    </li>
                    <% } %>
           </ul> 
    </nav>
 </header>


<nav class="mobile-nav"> 
    <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item" style="padding: 5px;">
                <a class="<%= path === '/shop' ? 'active' : '' %>" style=" color:white;"href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/shop/products' ? 'active' : '' %>" href="/shop/products">Products</a>
            </li>
            <% if (isAuthenticated) { %>
            <li class="nav-item">
                <a class="<%= path === '/shop/cart' ? 'active' : '' %>" href="/shop/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/shop/orders' ? 'active' : '' %>" href="shop/orders">Orders</a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/admin/add-product' ? 'active' : '' %>" href="/admin/add-product">Add Product
                </a>
            </li>
            <li class="nav-item">
                <a class="<%= path === '/admin/products' ? 'active' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
            <% } %>
    <% if (!isAuthenticated) { %>
        <li class="nav-item">
            <a class="<%= path === '/auth/login' ? 'active' : '' %>" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="<%= path === '/signup' ? 'active' : '' %>" href="/signup">Sign Up</a>
        </li>
    <% } else { %>
        <li class="nav-item">
            <form action="/logout" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit">Logout</button>
            </form>
        </li>
    <% } %>
        </ul>
</nav> 