<%- include('../static/partials/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/creative.css">
    
   
    
</head>

<body>
    <%- include('../static/partials/navbar.ejs') %>
    <div class="navbar navbar-expand-lg navbar-light bg-light">  
        <div class="container" style="margin-left: 150px;">
            <ul class="navbar-nav ml-auto" style="padding: 20px;">
                    <li class="nav-item active"></li>
                            <a class="nav-link" style="padding: 20px; color: #606197; font-weight: bold;font-size:18px;" href="#">Make your home uniquely you!
                                  <span class="sr-only">(current)</span>
                                </a>
                          </li>
                    <li class="nav-item active">
                      <a class="nav-link" style="padding: 20px; font-size:18px;color: #606197;" href="/">Home
                            <span class="sr-only">(current)</span>
                          </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link js-scroll-trigger" style="padding: 20px;font-size: 18px;color: #606197;" href="#contact">Paintings</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" style="padding: 20px; font-size: 18px;color: #606197;" href="#contact">Mixed Media</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link js-scroll-trigger" style="padding: 20px; font-size: 18px;color: #606197;" href="#contact">Digital Prints</a>
                    </li>
                  </ul>  
         
     </div>
     </div>
    <main>      
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>"
                                alt="<%= product.title %>">
                        </div>
                        
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price %></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a href="/shop/products/<%= product._id %>" class="btn" style="background-color: #606197; color:white;">Details</a>
                            <% if (isAuthenticated) { %>
                                <%- include('../static/partials/add-to-cart.ejs', {product: product}) %>
                            <% } %>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
<%- include('../static/partials/end.ejs') %>